<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show user</title>
    <style>
        table,th,td{
            border:2px solid red;
        }
    </style>
</head>
<body>
    <h2>This is user data</h2>
    <table>
        <tr><th>id</th> <th>username</th> <th>email</th><th>password</th> <th>edit</th></tr>
        <% for(let user of users){ %>
                 <tr>
                    <td><%=user.id%></td> 
                    <td><%=user.username%></td>
                     <td><%=user.email%></td>
                     <td><%=user.password%></td>
                     <td>
                        <form method="get" action="user/<%=user.id%>/edit">
                            <button>Edit user</button>
                        </form>
                     </td>
                   
                </tr>
                     <% } %>
        
    </table>
</body>
</html>

