<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loops</title>
   <link rel="stylesheet" href="/serving-static.css">
</head>
<body>
    <h1>This is belongs to :@ <%=data.name%>
    </h1>
    <button>Follow</button>
    <button>Message</button>
    <h3>Accounts that's follows you :</h3>
    <p>Followers : <%=data.followers%> &nbsp; &nbsp; Following : <%=data.following%>
    </p>
    <%for(let post of data.posts){%>
        <img src="<%=post.image%>" alt="some-image">
        <p>Likes : <%=post.likes%> &nbsp; &nbsp; Comments : <%=post.comments%>
        </p>
        <% } %>
        <script src="serving-static.js"></script>
</body>
</html>