<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>This is editing page</h3>
    <h4>This chat send from <%=dbChat._id%></h4>
    <h3>From:<%=dbChat.from%></h3>
    <h3>To:<%=dbChat.to%></h3>
   <form method="POST"  action="/chats/<%=dbChat._id%>?_method=PUT">
    <textarea name="msg" id="" cols="30" placeholder="edit msg from here" rows="10"><%=chat.msg%></textarea>
   <button>edit</button>
  </form>
</body>
</html>